.main-container {
    background-color: rgb(33, 142, 245);
}

.log-div {
    width: 350px;
}

.form-check,
span {
    font-size: 13px;
}

.fb-color {
    background-color: rgb(78, 76, 175);
}

.fb-color:hover {
    background-color: rgb(78, 76, 175);
}